body {
background-color: rgb(255, 228, 196);
background-image: url(../img/background.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.container {
width: 1024px;
min-height: 70px;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: center;
}
.header {
align-items: center;
padding-top: 20px;
padding-bottom: 20px;
}
h1 {
font-family: 'Montserrat', sans-serif;

}
.bodybox {
width: 1024px;
min-height: auto;
margin-left: auto;
margin-right: auto;
display: flex;
/* justify-content: center; */
font-family: 'Merriweather', serif ;
background-color: white;
margin-top: 20px;
border-radius: 12px ;
}

 li {
margin-bottom: 20px;
 }
 .boximg {
width: 1024px;
min-height: 70px;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: center;
background-color: white;
border-radius: 12px ;
 }
 img{
width: 280px;
margin-right: 30px;
padding: 10px 10px;
border-radius: 20px ;
 }
 .boxdesc {
    margin-right: 20px;
 }
 p {
    font-family: 'Merriweather', serif 
 }
 .ingredients{
width: 500px;
padding-right: 20px;
border-right: 1px solid lightgray;


 }
 .bodybox h2 {
    font-family: 'Merriweather', serif;
    margin-left: 25px;
 }
 h2{
font-family: 'Merriweather', serif;
 }
 .directions {

    margin-right: 20px;
 }
