.container {
width: 1024px;
min-height: 140px;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: center;
}
.header {

align-items: center;
padding-top: 20px;
padding-bottom: 20px;
}
